@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  background: #171836;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem 0;
}

.menu-header {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 148px;
}

.menu-header__item:not(:last-child) {
  margin-right: 44px;
}

.menu-header__links {
  color: rgba(255, 255, 255, 0.6);
  line-height: 17px;
}

.menu-header__links:hover {
  color: #ffffff;
}

.languages-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.languages-header__language {
  margin-right: 4px;
}

.login-header {
  background: #f5443b;
  border-radius: 6px;
  margin-left: 31px;
}

.login-header__signin {
  display: block;
  padding: 15px 32px;
  font-weight: 700;
  color: #ffffff;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.section-hero {
  padding: 38px 0 103px 0;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-info__title {
  padding: 82px 0 24px 0;
  font-weight: 600;
  line-height: 150%;
  font-size: 56px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.8);
}

.section-info__subtitle {
  padding-bottom: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__block {
  position: relative;
  max-width: 506px;
}

.section-info__input {
  width: 100%;
  height: 68px;
  padding: 22px 12px 22px 32px;
  background: #1f2143;
  border-radius: 12px;
  color: white;
}

.section-info__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__absolute {
  position: absolute;
  padding: 10px;
  top: 11px;
  right: 12px;
  background: #282b57;
  border-radius: 6px;
}

.section-info__suggestion-title {
  padding: 48px 0 34px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-info__suggestions-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 508px;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-info__suggestions-item {
  border: 1px solid rgba(154, 156, 203, 0.6);
  border-radius: 8px;
  padding: 8px 18px;
}

.section-info__suggestions {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: rgba(154, 156, 203, 0.6);
}

.section-feature {
  padding: 103px 0;
}

.feature-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-menu__items:not(:last-child) {
  margin-right: 14px;
}

.feature-menu .feature-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 17px;
}

.feature-menu .feature-menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature-menu__title {
  padding: 18px 0 23px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}

.feature-menu__paragraph {
  max-width: 311px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.6);
}

.section-classes {
  padding: 65px 0;
}

.section-classes__title {
  padding: 0px 0px 20px 0px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
}

.section-classes__subtitle {
  padding: 0px 0px 83px 0px;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-classes__wrapper--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 62px;
}

.section-classes__button {
  border-radius: 6px;
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f5443b;
  border: 1px solid #f5443b;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-classes__button:hover {
  color: #ffffff;
}

.menu-class {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu-class__items {
  max-width: 276px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-53.38%, #202246), to(rgba(40, 43, 87, 0.17)));
  background: -o-linear-gradient(top, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.17) 100%);
  border-radius: 20px;
  padding: 12px 24px 20px 12px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu-class__items:not(:last-child) {
  margin-right: 32px;
}

.menu-class__items:hover .menu-class__button--center {
  opacity: 1;
  visibility: visible;
}

.menu-class__items:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.menu-class__tag {
  padding: 24px 0 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #3bf5bd;
}

.menu-class__title {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.menu-class__paragraph {
  padding-bottom: 20px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.menu-class__horizontal {
  margin-bottom: 20px;
  border: 1px solid #292b56;
}

.menu-class__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-class__profile {
  padding-right: 15px;
}

.menu-class__wrapper {
  margin-top: 2px;
}

.menu-class__name {
  padding-bottom: 2px;
  font-weight: 500;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.menu-class__position {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.menu-class__button--center {
  position: relative;
  padding-top: 28px;
  opacity: 0;
  text-align: center;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.menu-class__button {
  padding: 15px 32px;
  border-radius: 6px;
  background: #f5443b;
  text-align: center;
  font-weight: 600;
  line-height: 17px;
  color: #ffffff;
}

.section-webinar {
  padding: 109px 0 81px 0;
}

.section-webinar__title {
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.section-webinar__subtitle {
  padding-bottom: 104px;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.section-webinar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-webinar__more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 150%;
  color: #d1d1d7;
  text-shadow: 0px 5px 10px #2e3062;
}

.section-webinar__arrow {
  margin-left: 8px;
}

.section-pricing {
  padding: 85px 0 115px 0;
}

.section-pricing__title {
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.section-pricing__subtitle {
  padding-bottom: 84px;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.pricing-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-menu__items {
  padding: 40px 36px 36px 36px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-53.38%, #202246), to(rgba(40, 43, 87, 0.31)));
  background: -o-linear-gradient(top, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
  max-height: 515px;
  border-radius: 20px;
}

.pricing-menu__items:not(:last-child) {
  margin-right: 42px;
}

.pricing-menu__items:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.pricing-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing-menu__img {
  margin-right: 30px;
}

.pricing-menu__wrapper {
  position: relative;
}

.pricing-menu__wrapper:before {
  position: absolute;
  display: block;
  top: 37px;
  left: -12px;
  width: 9px;
  width: 9px;
  height: 13px;
  background-image: url("../img/pricing/dollar.svg");
  content: "";
}

.pricing-menu__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.pricing-menu__paragraph {
  font-weight: 500;
  font-size: 11px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.pricing-menu__cost--uppercased {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #f5453d;
}

.pricing-menu__horizontal {
  width: 300px;
  margin: 29px 0 29px 0;
  border: 1.5px solid #272953;
}

.pricing-menu__block--faded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 141px;
  opacity: 0.5;
  border: 1px solid #f5443b;
  border-radius: 6px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.pricing-menu__block--light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  border: 1px solid #f5443b;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pricing-menu__block--saturated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
  background: #f5443b;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pricing-menu__button--initial {
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f5443b;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pricing-menu__button--initial:hover {
  color: #ffffff;
}

.pricing-menu__button--middle {
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f5443b;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pricing-menu__button--middle:hover {
  color: #ffffff;
}

.pricing-menu__button--premium {
  padding: 16px 32px;
  text-align: center;
  font-weight: 700;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pricing-menu__button--premium:hover {
  color: rgb(0, 0, 0);
}

.submenu-pricing__items {
  text-indent: -0.7em;
}

.submenu-pricing__items::before {
  background: #9799ce;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 4px;
  margin-left: 10px;
  height: 10px;
  width: 10px;
}

.submenu-pricing__items:not(:last-child) {
  padding-bottom: 16px;
}

.section__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-download {
  padding: 60px 0 100px 0;
}

.banner-download__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 105px 0 101px;
  background: -o-linear-gradient(347.99deg, #23265c 1.96%, #352a56 101.68%);
  background: linear-gradient(102.01deg, #23265c 1.96%, #352a56 101.68%);
  border-radius: 40px;
}

.banner-download__title {
  padding-top: 45px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 47.2727px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}

.banner-download__subtitle {
  padding-bottom: 43px;
  max-width: 406px;
  font-size: 18px;
  line-height: 180%;
  color: rgba(255, 255, 255, 0.7);
}

.banner-download__block {
  margin-right: 140px;
}

.banner-download__playmarket {
  margin-right: 25px;
}

.footer__container {
  padding-bottom: 30px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 48px 0 0px 0;
}

.footer-info {
  margin-right: 147px;
}

.footer-info__paragraph {
  padding: 8px 0 24px 0;
  max-width: 235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.6;
}

.menu-footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-footer-info__items:not(:last-child) {
  margin-right: 32px;
}

.menu-footer-info__links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer-info__links:hover {
  color: #fff;
}

.footer-menu__title {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-menu__items {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
}

.footer-menu__items:not(:last-child) {
  padding-bottom: 20px;
}

.footer-menu__links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-menu__links:hover {
  color: #fff;
}

.services-footer-block {
  margin: 0 81px;
}

.footer-services__title {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-services__items {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
}

.footer-services__items:not(:last-child) {
  padding-bottom: 20px;
}

.footer-services__links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-services__links:hover {
  color: #fff;
}

.information-footer-block {
  margin-right: 81px;
}

.footer-information__title {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-information__items {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
}

.footer-information__items:not(:last-child) {
  padding-bottom: 20px;
}

.footer-information__links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-information__links:hover {
  color: #fff;
}

.footer-download__title {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-download__items {
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.6;
}

.footer-download__items:not(:last-child) {
  padding-bottom: 20px;
}

.footer-download__links {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-download__links:hover {
  color: #fff;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
}

.footer-bottom__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8f91d0;
}